*{
    box-sizing: border-box;
    background-color: skyblue;
}
header{
    border: solid 2px orange;
    background-color: orange;
    height: 120px;
}
h1{
    background-color: orange;
    margin-left: 50px;
    font-size: 45px;
    position: relative;
    top:30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    }
img{
    width: 400px;
    height: 400px;
    margin: 20px;
    
}
#images{
    text-align: center;
}
img:hover{
    border: solid 2px orange;
}